<section class="login-sec">
  <form class="login-form">
    <div class="up">
      <h1>HELLO & WELCOME</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        praesentium libero vero sunt veritatis deleniti possimus
        animi.
      </p>
    </div>
    <div class="login-box ">
      <h2>USER lOGIN</h2>
      <input type="text" class="text-input" placeholder="Username" />
      <input type="text" class="text-input" placeholder="Password" />
      <div class="check fw flex jc-sp">
        <div class="flex jc-c">
            <input type="checkbox" style="margin: 0px 4px;" name="check"/>
            <label for="check">Reminder</label>
        </div>
        <p>Forgot Password ?</p>
      </div>
      <button>LOGIN</button>
    </div>
  </form>
</section>
