.login-sec {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 28, 116, 1) 50%,
    rgba(9, 30, 121, 1) 54%,
    rgb(16, 79, 92) 100%
  );
}

.login-form {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 25%;
  border-radius: 10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

/* Extra small devices (phones, 320px and up) */
@media screen and (min-width: 320px) {
  .login-form {
    width: 95%;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {
  .login-form {
    width: 85%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
  .login-form {
    width: 60%;
    max-width: 450px;
  }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
  .login-form {
    width: 40%;
    max-width: 450px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
  .login-form {
    width: 30%;
    max-width: 450px;
  }
}

/* Ultra-wide screens (1600px and up) */
@media screen and (min-width: 1600px) {
  .login-form {
    width: 25%;
    max-width: 500px;
  }
}

.login-form .up h1 {
  font-size: 40px;
  padding: 30px 0px;
  font-weight: 100; /* Extra Light */
  letter-spacing: 1px;
}
.login-form .up p {
  width: 70%;
  padding: 10px 0px;
  margin: auto;
  font-weight: 200;
  font-size: 16px;
  font-weight: 100; /* Extra Light */
  letter-spacing: 1px;
}
.login-form .up {
  width: 100%;
  margin: 0;
  padding: 40px 0px;
  text-align: center;
  color: #fff;
  background: linear-gradient(180deg, #29205d 10%, #3ca0e6 100%);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.login-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 65%;
  padding: 70px 0px;
}
.login-box h2 {
  padding: 20px 0px;
}
.login-box input,
button {
  width: 100%;
}
.login-box .check {
  font-size: 12px;
  font-weight: 500;
  margin: 5px 0px;
}
.text-input {
  padding: 12px 12px;
  margin: 12px 0px;
  border-radius: 20px;
  border: none;
  background-color: #c4d5e5;
}
.login-box button {
  padding: 12px 12px;
  margin: 12px 0px;
  border-radius: 20px;
  border: none;
  color: #fff;
  transition: all ease .3s;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 28, 116, 1) 50%,
    rgba(9, 30, 121, 1) 54%,
    rgba(24, 108, 125, 1) 100%
  );
}
.login-box button:hover{
  letter-spacing: 5px;
}
.text-input::placeholder {
  padding: 20px;
  color: white;
}
.err{
 	color: #D8000C;
  background-size:contain ;
  padding: 5px 2px;
  width: 100%;
}
.err p{
  font-size: 14px;
  text-align: center;
}