*{
    margin: 0px;
    padding: 0px;
}
ul{
    background-color: bisque;
    width: fit-content;
    margin: auto;
    padding: 20px 5px;
    border-radius: 20px;
}
ul li {
    /* background-color: aquamarine; */
    margin: 10px 5px;
    display: inline;
}
ul li a {
    font-size: 20px;
    text-decoration: none;
    color: maroon;
    transition: all ease-in .1s;
}
ul li a:hover{
    font-size: 20px;
    text-decoration: none;
    color: black;
}
.form-container{
    border: 1px solid black;
    border-radius: 10px;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
}
.form-container input{
    width: 80%;
    border-radius: 5px;
    padding: 10px 5px;
}
.login-btn{
    margin: 10px 0px;
    padding: 5px 5px;
}